.Loader {
  width: 100%;
  margin-block: 5rem;
  padding-top: 2rem
}

.Loader_box {
  width: 10%;
  margin: 0 auto;
  transform: scaleX(-1);
}

.Loader_box_img {
  margin-bottom: 14rem;
  margin-top: -2rem;
  animation: cusAni 4s in;
}

@keyframes cusAni {
  50% {
    transform: rotate(360%);
  }
}

.Loader_box_img_img {
  border-radius: 50%;
}
